.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .initial_buttons{
    background:    #15d798;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       flex;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;  
    align-items: center;
    margin: auto;
  }

  .dontshow{
    display: none;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }

  .reroll_button{
    background:    #15d798;
  border-radius: 11px;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
  }
  
  .social_footer a img{
    height: 25px;
    width: 25px;
    filter: invert(100%);
    justify-content: space-between;
    margin: 20px;
  }
  .social_footer a {
    text-decoration: none;
  }

  .initial h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  text-align: center;
  }

  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
 